body {
    padding: 0;
    margin: 0;
     font-family: sans-serif;
 }
.container {
     margin: auto;
     width: 960px;
 }
 .top-bar{
 margin-left: 21em;
 margin-right: 19em;
 margin-top: 5em;
    border: 1px solid rgba(0, 0, 0, .3)
     padding: 40px;
    align-items: center;
    text-align: center;
     z-index: 999;
     height: 10em;
     background: #141414;
     color: #888;
     width: 30%;


 }
 .top-bar .player-controls {
     margin-top: 8em;
     position: fixed;
     margin-left: 3em;
     margin-right: 4em; 

      }
 .top-bar .player-controls span{
     cursor: pointer;
     padding: 0 5px;
     -webkit-transition: all linear 0.2s;
 }
 .top-bar .player-controls span:hover {
     color: #EEE;
 }
 .top-bar .player-display {
    margin-left: 0em;
   position: fixed;
 
 }
 .top-bar .player-display .player-current-track {
     color: white;
 }
 .top-bar .player {
     float: left;

 }
 .top-bar .player-timeline {
    float: left;
     max-width: 200px;
     width: 200px;
     height: 4px;
     margin-top: 5em;
     background: #555;
     margin-left: 5em;
 }
 .top-bar .player-timeline-control {
     height: 4px;
     background: #999;
 }
